@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body{
    margin: 20px;
}
.product{
    justify-content: center;
    display: flex;
   

}

.love{
    font-family: sans-serif;
    color: hsl(300, 43%, 22%);
    font-size: large;
    font-weight: 800;
    margin: 0;
}

.great{
    font-family: 'League Spartan', sans-serif;
    color: hsl(303, 10%, 53%);
    font-size: medium;
}

.users{
    margin: 10px;
    width: 400px;
    height: 200px;
}

.rate{
    margin-top: 30px;
}



.rate1{
    display: block;
    background-color: hsl(300, 24%, 96%);
    padding: 5px;
    border-radius: 5px;
    margin-right: 30px;
    
}

.rev1{
    margin: 20px;
}

.rate2{
    display: block;
    background-color: hsl(300, 24%, 96%);
    padding: 5px;
    border-radius: 5px;
    margin-left: 30px;  
    margin-right: 15px;
        
}


.rev2{
    margin: 15px;
}

.rate3{
    display: block;
    background-color: hsl(300, 24%, 96%);
    padding: 5px;
    border-radius: 5px;
    margin-left: 60px; 
    
}

.rev3{
    margin: 15px;
}

.smith{
    width: 260px;
    height:180px;
    border: 1px solid ;
    background-color:hsl(300, 43%, 22%) ;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
}

.smith img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin:20px 20px 20px 20px;
}

.buy{
    display: flex ;
}

.col{
    margin: 25px 20px 20px 0;
    font-size: small;
}


.veri{
    font-size: smaller;
    color: hsl(333, 80%, 67%);
}

.need{
    margin: 25px;
    font-size: x-small;
}
    

.irene{
    width: 260px;
    height:180px;
    border: 1px solid ;
    background-color:hsl(300, 43%, 22%) ;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
    margin: 20px;
}

.irene img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin:20px 20px 20px 20px;
}

.buy2{
    display: flex ;
}

.col2{
    margin: 25px 20px 20px 0;
    font-size: small;
}


.veri2{
    font-size: smaller;
    color: hsl(333, 80%, 67%);
}

.need2{
    margin: 25px;
    font-size: x-small;
}


.anne{
    width: 260px;
    height:180px;
    border: 1px solid ;
    background-color:hsl(300, 43%, 22%) ;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 40px;
}


.anne img{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin:20px 20px 20px 20px;
}


.buy3{
    display: flex ;
}

.col3{
    margin: 25px 20px 20px 0;
    font-size: small;
}


.veri3{
    font-size: smaller;
    color: hsl(333, 80%, 67%);
}

.need3{
    margin: 25px;
    font-size: x-small;
}

.profile{
    display: flex;
    justify-content: center;
}


 
@media (max-width: 768px){

body{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .product{
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        margin-right: 30px;
    }

    .rate1{
        padding: 20px;
        margin: 0;
    }

    .rate2{
        padding: 20px;
        margin: 0;
    }
    .rate3{
        padding: 20px;
        margin: 0;
    }
    
    .profile{
        display: block;
        margin-top :30px ;
        align-items: center;
        margin-left: 10rem;
        margin-right: 20rem;       
    }

    .irene{
        margin-left: 0;
        margin-top: 30px;
    }    
}
